
<div class="container">
    <div class="left-section">
        <div class="input-group">
            <label for="title">Tiêu đề:</label>
            <input type="text" id="title" >

        </div>
        <div class="input-group">
            <label for="time">Ngày thi:</label>
            <input type="text" id="time" >

        </div>
        <div class="input-group">
            <label for="term">Thời gian thi:</label>
            <input type="text" id="term" >

        </div>
        <div class="input-group">
            <label for="subject">Mô tả:</label>
            <input type="text" id="subject">

        </div>
        <div class="button-group">
            <button class="btn save">Lưu</button>
            <button class="btn cancel">Hủy</button>
        </div>

    </div>
    <div class="right-section">
        {{#each questions}}
        <div class="question-card" id="{{this.questionId}}">
            <div class="question-header">
                {{this.questionId}}
            </div>
            <div class="question-info">
                <p>{{this.questionContent}}</p>
                <!-- Selected criteria will be displayed here -->
                <div id="question-criteria-{{@index}}" class="selected-criteria"></div>
                {{!-- select criteria --}}
                <li class="criterias">
                    <a href="javascript:void(0)" class="cribtn">Criteria</a>
                    <div class="criterias-content">
                    {{#each criteria}}
                        <a href="javascript:void(0)" class="criterias-element" id="question-criteria-{{@../index}}" data-criteria="{{this}}">{{this}}</a>
                    {{/each}}
                    </div>
                </li>
                {{!-- end select criteria --}}
            </div>
            <div class="question-actions">
                <button class="btn-up" id="question-card-{{@index}}">&#9650;</button>
                <button class="btn-down" id="question-card-{{@index}}">&#9660;</button>
                <button class="btn-delete" id="question-card-{{@index}}">&#128465;</button>
            </div>
            
        </div>
        {{/each}}
        <button class="question-add">+</button>

    </div>
    
</div>
<!-- Container for loading modal content dynamically -->
<div id="modal-container"></div>


{{!-- event listener for select criteria --}}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const criteriaElements = document.querySelectorAll(".criterias-element");

    criteriaElements.forEach(element => {
        element.addEventListener("click", function() {
            const criteria = this.getAttribute("data-criteria");
            const questionId = this.getAttribute("id");
            addCriteria(criteria, questionId);
        });
    });

    function addCriteria(criteria, questionId) {
        const selectedCriteriaContainer = document.getElementById(questionId);
        selectedCriteriaContainer.innerHTML = "";

        const criteriaItem = document.createElement("span");
        criteriaItem.className = "selected-criteria-item";
        criteriaItem.textContent = criteria;
        criteriaItem.setAttribute("data-id", questionId);

        //criteriaItem.addEventListener("click", function() {
        //    this.remove();
        //});

        selectedCriteriaContainer.appendChild(criteriaItem);
    }
    //Script for handling up, down, and delete button actions
    const upButtons = document.querySelectorAll('.btn-up');
    const downButtons = document.querySelectorAll('.btn-down');
    const deleteButtons = document.querySelectorAll('.btn-delete');

    upButtons.forEach(button => {
        button.addEventListener('click', function() {
            const questionCard = this.closest('.question-card');
            const previousCard = questionCard.previousElementSibling;
            if (previousCard && previousCard.classList.contains('question-card')) {
                questionCard.parentNode.insertBefore(questionCard, previousCard);
            }
        });
    });

    downButtons.forEach(button => {
        button.addEventListener('click', function() {
            const questionCard = this.closest('.question-card');
            const nextCard = questionCard.nextElementSibling;
            if (nextCard && nextCard.classList.contains('question-card')) {
                questionCard.parentNode.insertBefore(nextCard, questionCard);
            }
        });
    });

    deleteButtons.forEach(button => {
        button.addEventListener('click', function() {
            const questionCard = this.closest('.question-card');
            questionCard.remove();
        });
    });
});
</script>


<script>
const token=window.localStorage.getItem('token');
document.addEventListener("DOMContentLoaded", function() {
    // Function to load modal content dynamically
    function loadModalContent() {
        fetch('/popup/folderpopup.hbs')
            .then(response => response.text())
            .then(data => {
                const modalContainer = document.getElementById('modal-container');
                modalContainer.innerHTML = data;

                const modal = document.getElementById('question-folder-modal');
                const closeModal = modal.querySelector('.close-button');
                closeModal.addEventListener('click', function() {
                    modal.style.display = 'none';
                    removeModalContent();
                });

                fetchFolder();
                modal.style.display = 'block';
            });
    }

    // Function to remove modal content
    function removeModalContent() {
        const modalContainer = document.getElementById('modal-container');
        modalContainer.innerHTML = '';
    }

    // Function to fetch folders from the server
    function fetchFolder() {
        const token = localStorage.getItem('token');  // Retrieve the token from local storage

        // Check if the token exists
        if (!token) {
            console.error('No token found, please log in');
            return;  // Optionally, redirect to login page or handle accordingly
        }

        fetch('/teachers/questionBanks', {
            method: 'GET',  // This is the default method, but it's good to be explicit
            headers: {
                'Authorization': `Bearer ${token}`,  // Include the token in the Authorization header
                'Content-Type': 'application/json'  // Ensuring the server knows the format being sent
            }
        })
        .then(response => {
            if (response.ok) {
                return response.json();  // Only parse JSON if the request was successful
            } else {
                throw new Error('Failed to fetch data');
            }
        })
        .then(data => { 
            populateFolders(data)
        })
        .catch(error => console.error('Error fetching folders:', error));
    }


    // Function to populate folders in the modal
        function populateFolders(folders) {
            const folderList = document.getElementById('folderList');
            folderList.innerHTML = ''; // Clear any existing content

            folders.forEach((folder, index) => {
                const folderItem = document.createElement('div');
                folderItem.className = 'folder';
                folderItem.setAttribute('data-folder-index', folder.bank_id);
                folderItem.innerHTML = `
                    <div class="folder-icon"></div>
                    <div class="folder-info">
                    <div class="folder-name">${folder.bank_name}</div>
                    <div class="folder-details">
                        ${folder.description} - Tác giả: ${folder.created_by}
                    </div>
                    </div>
                `;
                folderItem.addEventListener('click', function() {
                    // Handle folder click event to load questions
                    loadQuestionsFromFolder(folder);
                    const modal = document.getElementById('question-folder-modal');
                    modal.style.display = 'none';
                    removeModalContent();
                });
                folderList.appendChild(folderItem);
            });
        }

    // Function to load questions from a selected folder (example placeholder)
    function loadQuestionsFromFolder(folder) {

        // Implement logic to load and display questions from the selected folder
        console.log('Loading questions from folder:', folder);
        fetch('/popup/questionpopup.hbs')
            .then(response => response.text())
            .then(data => {
                const modalContainer = document.getElementById('modal-container');
                modalContainer.innerHTML = data;
                const modal = document.getElementById('question-choice-modal');
                const modal_name =modal.querySelector('.modal-title');
                modal_name.textContent=folder.bank_name;
                const closeModal = modal.querySelector('.close-button');
                closeModal.addEventListener('click', function() {
                    modal.style.display = 'none';
                    removeModalContent();
                });
                const backModal = modal.querySelector('.back-button');
                backModal.addEventListener('click', function() {
                    modal.style.display = 'none';
                    removeModalContent();
                    loadModalContent();
                })
                fetchQuestions(folder.bank_id);
                modal.style.display = 'block';
            });
    }
    
    // Function to fetch question in a specific folder
    function fetchQuestions(folderId) {
        fetch(`/teachers/questionBank/${folderId}/questions`,{
            method: 'GET',  // This is the default method, but it's good to be explicit
            headers: {
                'Authorization': `Bearer ${token}`,  // Include the token in the Authorization header
                'Content-Type': 'application/json'  // Ensuring the server knows the format being sent
            }
        })
        .then(response => {
            if (response.ok) {
                return response.json();  // Only parse JSON if the request was successful
            } else {
                throw new Error('Failed to fetch data');
            }
        })
        .then(data => { 
            populateQuestions(data)
        })
        .catch(error => console.error('Error fetching folders:', error));
    }
    // Function to add question from fetched questions
    function populateQuestions(data) {
        const questionList = document.getElementById('questionList');
        questionList.innerHTML = ''; // Clear any existing content
        data.forEach((question, index) => {
            const questionItem = document.createElement('div');
            questionItem.className = 'question-container';
            questionItem.setAttribute('data-question-index', index);
            questionItem.innerHTML = `
                <div class="quesiton-icon"></div>
                <div class="quesiton-info">
                    <div class="quesiton-name">${question.question_id}</div>
                    <div class="question-content">
                    <span class="content-short" data-max-length="100">${question.question_content}</span>
                    <span class="content-full">${question.question_content}</span>
                    </div>
                </div>
                <button class="select-button">Select</button>
            `;

            // Select the button within the question item
            const selectBtn = questionItem.querySelector('.select-button');

            // Add event listener to the select button
            selectBtn.addEventListener('click', function() {
                addQuestionCard(question);
                removeModalContent();
            });
            questionList.appendChild(questionItem);
        });


    }
    async function fetchCriteria(questionId) {
        try {
            const response = await fetch(`/teachers/questions/${questionId}/criteria`, {
                method: 'GET',  // This is the default method, but it's good to be explicit
                headers: {
                    'Authorization': `Bearer ${token}`,  // Include the token in the Authorization header
                    'Content-Type': 'application/json'  // Ensuring the server knows the format being sent
                }
            });

            if (!response.ok) {
                throw new Error('Failed to fetch data');
            }

            const data = await response.json();
            return data;

        } catch (error) {
            console.error('Error fetching criteria:', error);
            throw error; // Re-throwing the error to be handled by the caller
        }
    }

    // Function to add a question card
async function addQuestionCard(question) {
    console.log('question choice:', question);
    const criteriaData = await fetchCriteria(question.question_id);
    const rightSection = document.querySelector('.right-section');
    const questionCard = document.createElement('div');
    questionCard.className = 'question-card';
    questionCard.id =question.question_id;
    questionCard.innerHTML = `
        <div class="question-header">
            Mã câu hỏi: ${question.question_id}
        </div>
        <div class="question-info">
            <p>${question.question_content}</p>
            <div class="selected-criteria"></div>
            <li class="criterias">
                <a href="javascript:void(0)" class="cribtn">Criteria</a>
                <div class="criterias-content"></div>
            </li>
        </div>
        <div class="question-actions">
            <button class="btn-up">&#9650;</button>
            <button class="btn-down">&#9660;</button>
            <button class="btn-delete">&#128465;</button>
        </div>
    `;
    // Insert the question card into the right section
    rightSection.insertBefore(questionCard, rightSection.querySelector('.question-add'));

    // Generate and insert criteria options
    const criteriaContent = questionCard.querySelector('.criterias-content');
    const selectedCriteria = questionCard.querySelector('.selected-criteria');

    criteriaData.forEach((criterion, index) => {
        const criteriaElement = document.createElement('a');
        criteriaElement.href = 'javascript:void(0)';
        criteriaElement.className = 'criterias-element';
        criteriaElement.id = `question-criteria-${index}`;
        criteriaElement.dataset.criteria = criterion.detail;
        criteriaElement.textContent = criterion.criteriaName;
        criteriaContent.appendChild(criteriaElement);

        // Add event listener to handle criteria selection
        criteriaElement.addEventListener('click', function() {
            selectedCriteria.innerHTML = '';
            const criteriaItem = document.createElement('span');
            criteriaItem.className = 'selected-criteria-item';
            console.log(criterion.detail);
            criteriaItem.textContent = criterion.criteriaName;
            criteriaItem.setAttribute('data-id', criterion.detail.criteriaId); // Assuming index as the unique identifier
            selectedCriteria.appendChild(criteriaItem);
        });
    });

    // Add event listeners for the new card's buttons
    const upButton = questionCard.querySelector('.btn-up');
    const downButton = questionCard.querySelector('.btn-down');
    const deleteButton = questionCard.querySelector('.btn-delete');

    upButton.addEventListener('click', function() {
        const previousCard = questionCard.previousElementSibling;
        if (previousCard && previousCard.classList.contains('question-card')) {
            questionCard.parentNode.insertBefore(questionCard, previousCard);
        }
    });

    downButton.addEventListener('click', function() {
        const nextCard = questionCard.nextElementSibling;
        if (nextCard && nextCard.classList.contains('question-card')) {
            questionCard.parentNode.insertBefore(nextCard, questionCard);
        }
    });

    deleteButton.addEventListener('click', function() {
        questionCard.remove();
    });
}


    // Add new question button click event
    const addButton = document.querySelector('.question-add');
    addButton.addEventListener('click', function() {
        loadModalContent();
    });
});
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const saveButton = document.querySelector('.btn.save');
        const cancelButton = document.querySelector('.btn.cancel');

        saveButton.addEventListener('click', () => {
            // Extract values from input fields
            const examTitle = document.getElementById('title').value;
            const time = document.getElementById('time').value;
            const duration = document.getElementById('term').value;
            const description = document.getElementById('subject').value;
            // Split the string by comma to separate the start and end times
            const times = time.split(',');

            // Trim any whitespace that might be around the times
            const startTime = times[0].trim();
            const endTime = times[1].trim();

            

            // Example payload to send to the server
            const payload = {
                examTitle,
                description,
                duration,
                startTime,
                endTime
  
            };
            
            // Make a POST request to the server (uncomment and adjust the URL as needed)
            fetch('/teachers/exams', {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${token}`,  // Include the token in the Authorization header
                    'Content-Type': 'application/json'  // Ensuring the server knows the format being sent
                },
                body: JSON.stringify(payload)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data)
                // Extract questions and their criteria
                const questions = [];
                document.querySelectorAll('.question-card').forEach(card => {
                    const questionId = card.id;
                    const criteriaElements = card.querySelectorAll('.selected-criteria span');
                    const criteria = Array.from(criteriaElements).map(el => el.textContent);
                    questions.push({ id: questionId, examId: data.examId, maxScore: 5});
                    console.log(data.examId,{questionId: questionId,maxScore:5});
                    addQuestionToExam(data.examId,{questionId: questionId,maxScore:5});

                });
            
            
            })
            .catch(error => console.error('Error:', error));
        });
        function addQuestionToExam(examId,eachQuestion){
            fetch(`/teachers/exams/${examId}/questions`, {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${token}`,  // Include the token in the Authorization header
                    'Content-Type': 'application/json'  // Ensuring the server knows the format being sent
                },
                body: JSON.stringify(eachQuestion)
            })
            .then(response => {
                console.log(response);
                response.json()
                window.location.href='/teachers/mylibrary/publictest';

                })
            .catch(error => console.error('Error:', error));
        }
        cancelButton.addEventListener('click', () => {
            window.location.href='/teachers/mylibrary/publictest';

            // Optionally, reset criteria selections if needed
            document.querySelectorAll('.selected-criteria').forEach(criteriaDiv => {
                criteriaDiv.innerHTML = '';
            });
        });
    });
</script>
